<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <form action="/updateFunc" method="get" style="display:flex; flex-direction: column; width: 200px;">
        <label for="nome">nome: </label>
        <input type="text" name="nome" required>
        <label for="email">email</label>
        <input type="text" name="email" required>
        <label for="senha">senha</label>
        <input type="password" name="senha" required>
        <label for="idade">idade</label>
        <input type="text" name="idade" required>
        <input type="submit" onclick="alert('Funcionario editado com sucesso')">
    </form>
    <a href="/rootRedirect"><button>cancel</button></a>
</body>
</html>